<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personal.mapper.VoteAdvertisingMapper" >
  <resultMap id="BaseResultMap" type="personal.entity.VoteAdvertising" >
    <id column="adv_id" property="advId" jdbcType="BIGINT" />
    <result column="v_id" property="vId" jdbcType="BIGINT" />
    <result column="cop_id" property="copId" jdbcType="BIGINT" />
    <result column="channel_name" property="channelName" jdbcType="INTEGER" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="adv_tag" property="advTag" jdbcType="VARCHAR" />
    <result column="adv_type" property="advType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="adv_num" property="advNum" jdbcType="INTEGER" />
    <result column="tlength" property="tlength" jdbcType="INTEGER" />
    <result column="gwidth" property="gwidth" jdbcType="DOUBLE" />
    <result column="gheight" property="gheight" jdbcType="DOUBLE" />
    <result column="gpwidth" property="gpwidth" jdbcType="DOUBLE" />
    <result column="gpheight" property="gpheight" jdbcType="DOUBLE" />
    <result column="adv_order" property="advOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    adv_id, v_id, cop_id, channel_name, position_name, adv_tag, adv_type, create_time, 
    end_time, adv_num, tlength, gwidth, gheight, gpwidth, gpheight, adv_order
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="personal.entity.VoteAdvertisingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vote_advertising
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vote_advertising
    where adv_id = #{advId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vote_advertising
    where adv_id = #{advId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="personal.entity.VoteAdvertisingExample" >
    delete from vote_advertising
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="personal.entity.VoteAdvertising" >
    insert into vote_advertising (adv_id, v_id, cop_id, 
      channel_name, position_name, adv_tag, 
      adv_type, create_time, end_time, 
      adv_num, tlength, gwidth, 
      gheight, gpwidth, gpheight, 
      adv_order)
    values (#{advId,jdbcType=BIGINT}, #{vId,jdbcType=BIGINT}, #{copId,jdbcType=BIGINT}, 
      #{channelName,jdbcType=INTEGER}, #{positionName,jdbcType=VARCHAR}, #{advTag,jdbcType=VARCHAR}, 
      #{advType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{advNum,jdbcType=INTEGER}, #{tlength,jdbcType=INTEGER}, #{gwidth,jdbcType=DOUBLE}, 
      #{gheight,jdbcType=DOUBLE}, #{gpwidth,jdbcType=DOUBLE}, #{gpheight,jdbcType=DOUBLE}, 
      #{advOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="personal.entity.VoteAdvertising" >
    insert into vote_advertising
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advId != null" >
        adv_id,
      </if>
      <if test="vId != null" >
        v_id,
      </if>
      <if test="copId != null" >
        cop_id,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
      <if test="positionName != null" >
        position_name,
      </if>
      <if test="advTag != null" >
        adv_tag,
      </if>
      <if test="advType != null" >
        adv_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="advNum != null" >
        adv_num,
      </if>
      <if test="tlength != null" >
        tlength,
      </if>
      <if test="gwidth != null" >
        gwidth,
      </if>
      <if test="gheight != null" >
        gheight,
      </if>
      <if test="gpwidth != null" >
        gpwidth,
      </if>
      <if test="gpheight != null" >
        gpheight,
      </if>
      <if test="advOrder != null" >
        adv_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="advId != null" >
        #{advId,jdbcType=BIGINT},
      </if>
      <if test="vId != null" >
        #{vId,jdbcType=BIGINT},
      </if>
      <if test="copId != null" >
        #{copId,jdbcType=BIGINT},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=INTEGER},
      </if>
      <if test="positionName != null" >
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="advTag != null" >
        #{advTag,jdbcType=VARCHAR},
      </if>
      <if test="advType != null" >
        #{advType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="advNum != null" >
        #{advNum,jdbcType=INTEGER},
      </if>
      <if test="tlength != null" >
        #{tlength,jdbcType=INTEGER},
      </if>
      <if test="gwidth != null" >
        #{gwidth,jdbcType=DOUBLE},
      </if>
      <if test="gheight != null" >
        #{gheight,jdbcType=DOUBLE},
      </if>
      <if test="gpwidth != null" >
        #{gpwidth,jdbcType=DOUBLE},
      </if>
      <if test="gpheight != null" >
        #{gpheight,jdbcType=DOUBLE},
      </if>
      <if test="advOrder != null" >
        #{advOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="personal.entity.VoteAdvertisingExample" resultType="java.lang.Integer" >
    select count(*) from vote_advertising
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vote_advertising
    <set >
      <if test="record.advId != null" >
        adv_id = #{record.advId,jdbcType=BIGINT},
      </if>
      <if test="record.vId != null" >
        v_id = #{record.vId,jdbcType=BIGINT},
      </if>
      <if test="record.copId != null" >
        cop_id = #{record.copId,jdbcType=BIGINT},
      </if>
      <if test="record.channelName != null" >
        channel_name = #{record.channelName,jdbcType=INTEGER},
      </if>
      <if test="record.positionName != null" >
        position_name = #{record.positionName,jdbcType=VARCHAR},
      </if>
      <if test="record.advTag != null" >
        adv_tag = #{record.advTag,jdbcType=VARCHAR},
      </if>
      <if test="record.advType != null" >
        adv_type = #{record.advType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.advNum != null" >
        adv_num = #{record.advNum,jdbcType=INTEGER},
      </if>
      <if test="record.tlength != null" >
        tlength = #{record.tlength,jdbcType=INTEGER},
      </if>
      <if test="record.gwidth != null" >
        gwidth = #{record.gwidth,jdbcType=DOUBLE},
      </if>
      <if test="record.gheight != null" >
        gheight = #{record.gheight,jdbcType=DOUBLE},
      </if>
      <if test="record.gpwidth != null" >
        gpwidth = #{record.gpwidth,jdbcType=DOUBLE},
      </if>
      <if test="record.gpheight != null" >
        gpheight = #{record.gpheight,jdbcType=DOUBLE},
      </if>
      <if test="record.advOrder != null" >
        adv_order = #{record.advOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vote_advertising
    set adv_id = #{record.advId,jdbcType=BIGINT},
      v_id = #{record.vId,jdbcType=BIGINT},
      cop_id = #{record.copId,jdbcType=BIGINT},
      channel_name = #{record.channelName,jdbcType=INTEGER},
      position_name = #{record.positionName,jdbcType=VARCHAR},
      adv_tag = #{record.advTag,jdbcType=VARCHAR},
      adv_type = #{record.advType,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      adv_num = #{record.advNum,jdbcType=INTEGER},
      tlength = #{record.tlength,jdbcType=INTEGER},
      gwidth = #{record.gwidth,jdbcType=DOUBLE},
      gheight = #{record.gheight,jdbcType=DOUBLE},
      gpwidth = #{record.gpwidth,jdbcType=DOUBLE},
      gpheight = #{record.gpheight,jdbcType=DOUBLE},
      adv_order = #{record.advOrder,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="personal.entity.VoteAdvertising" >
    update vote_advertising
    <set >
      <if test="vId != null" >
        v_id = #{vId,jdbcType=BIGINT},
      </if>
      <if test="copId != null" >
        cop_id = #{copId,jdbcType=BIGINT},
      </if>
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=INTEGER},
      </if>
      <if test="positionName != null" >
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="advTag != null" >
        adv_tag = #{advTag,jdbcType=VARCHAR},
      </if>
      <if test="advType != null" >
        adv_type = #{advType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="advNum != null" >
        adv_num = #{advNum,jdbcType=INTEGER},
      </if>
      <if test="tlength != null" >
        tlength = #{tlength,jdbcType=INTEGER},
      </if>
      <if test="gwidth != null" >
        gwidth = #{gwidth,jdbcType=DOUBLE},
      </if>
      <if test="gheight != null" >
        gheight = #{gheight,jdbcType=DOUBLE},
      </if>
      <if test="gpwidth != null" >
        gpwidth = #{gpwidth,jdbcType=DOUBLE},
      </if>
      <if test="gpheight != null" >
        gpheight = #{gpheight,jdbcType=DOUBLE},
      </if>
      <if test="advOrder != null" >
        adv_order = #{advOrder,jdbcType=INTEGER},
      </if>
    </set>
    where adv_id = #{advId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="personal.entity.VoteAdvertising" >
    update vote_advertising
    set v_id = #{vId,jdbcType=BIGINT},
      cop_id = #{copId,jdbcType=BIGINT},
      channel_name = #{channelName,jdbcType=INTEGER},
      position_name = #{positionName,jdbcType=VARCHAR},
      adv_tag = #{advTag,jdbcType=VARCHAR},
      adv_type = #{advType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      adv_num = #{advNum,jdbcType=INTEGER},
      tlength = #{tlength,jdbcType=INTEGER},
      gwidth = #{gwidth,jdbcType=DOUBLE},
      gheight = #{gheight,jdbcType=DOUBLE},
      gpwidth = #{gpwidth,jdbcType=DOUBLE},
      gpheight = #{gpheight,jdbcType=DOUBLE},
      adv_order = #{advOrder,jdbcType=INTEGER}
    where adv_id = #{advId,jdbcType=BIGINT}
  </update>
  
  <!-- 自定义SQL -->
  <select id="getList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vote_advertising
  </select>
</mapper>